@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Indie+Flower&family=Lobster&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#certifications {
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   background-color: rgb(33, 5, 83);
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(60, 11, 133)); */
}

.certications {
  /* width: 200px;
  height: 300px; */
  /* align-items: center;
  display: flex;
  justify-content: center; */
}

.cert-badge {
  /* width: 65% !important; */
  /* margin: 1rem !important; */
  text-align: left !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  border:7px rgba(15, 13, 4, 0.431) solid;
  padding: 20px 20px;
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(27, 27, 37)); */
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
   /* box-shadow: 0px 0px 0px 0px rgba(199, 14, 241, 0.322); */
}

.show-badge {
  transition: all .25s ease-in-out;
  opacity: 1!important;
  width: 65% !important;
  margin: 1rem !important;
  text-align: left !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-font-color);
  border:2px rgba(231, 229, 225, 0.116) solid;
  padding: 20px 20px;
  border-radius: 25px;
  background-color:  rgba(34, 5, 83, 0);
  font-size: var(--primary-font-size);
  /* box-shadow: 0px 0px 10px 1px rgba(199, 14, 241, 0.409); */
  /* background-image: linear-gradient(rgba(9, 8, 8, 0.265), rgb(26, 8, 70)) */
}

.show-badge:last-child {
  transition: 0.1s ease-in;
}
.show-badge:nth-child(1) {
  /* transition: 0.2s ease-in; */
}
.show-badge:first-child {
  /* transition: 0.2s ease-in; */
}

.show-badge:hover {
  filter: none;
}

img {
  width: 50px;
  height: 35px;
  padding: 5px 5px;
}

.title {
  width: 100%;
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  font-family: var(--primary-content-font);
}
.issuer {
  width: 100%;
  font-size: medium;
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: monospace;
  font-size: 14px;
  font-style:italic;
  font-family: var(--primary-content-font);
}

.issuer strong {
  /* color: purple!important; */
}
/* .badge .date {
  font-family: "luckiest guy";
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0px;
  text-align: left!important;
  background-color: rgba(0, 0, 255, 0);
  margin: 15px;
} */

.issued {
  font-size: medium;
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: monospace;
  width: 100%;
  font-size: 16px;
}

