.navbar {
  position: sticky;
  z-index: 99;
  background-color: var(--primary-bg-color) !important;
  color: white !important;
  box-sizing: border-box;
  width: 100vw;
}

nav img {
  width: 50px;
   box-shadow: none;
   height: 50px;
   display: flex;
 justify-content: center;
 align-items: center;
 background-color: yellowgreen;
 border-radius: 50%;
}

.navbar-brand {
  font-family: luckiest guy;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
 
}

.navbar-nav {
  margin: auto;
}

.nav-link{
  color:white;
  font-family: Montserrat;
}
.nav-link:hover{
  color:rgb(207, 239, 131);
  font-family: luckiest guy;
  transition: all ease-in-out 1s;
}